#converterForm{
    background-color: bisque;
    border-radius: 20px;
    border:solid 1px black;
    padding:20px;
}

#titleForm{
    display:flex;
    justify-content: center;
    text-align:center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}

#formInstruction{
    text-align:center;

}

.formInputContainer{
    margin:20px;
    background-color: yellow;
    border:solid 1px black;
    border-radius:20px;
    padding:20px;
}

#temperature{
    width:95%;
    border-radius:20px;
    padding:20px;
}

#fahrenheit{
    width:95%;
    border-radius:20px;
    padding:20px;
}

#calculationMethod{
    width:95%;
    border-radius:20px;
    padding:20px;
}

#temperature:focus{
    /* background-color:blue; */
    transform:scale(1.009);
}

#buttonContainer{
    margin-top:20px;
    display: flex;
    justify-content: center;
}

.buttonClass{
    margin:5px;
    padding: 5px;
    border-radius:5px;
    background-color: lightgreen;
    border:solid 1px black;
}

.buttonClass:hover{
    background-color: lightpink;
    cursor: pointer;
    transform:scale(1.05);
}

#FtoC{
    margin:15px;
    padding:15px;
    border-radius:5px;
    background-color: lightgreen;
}

#FtoC:hover{
    transform:scale(2);
    cursor: pointer;
    color: green;
}

#explainContainer{
    margin:20px;
    background-color: yellow;
    border:solid 1px black;
    border-radius:20px;
    padding:20px;
}